
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_implementation_status_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Implementation Statuses</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @implementation_statuses %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @implementation_statuses, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Name</th>
      <th>Sort order</th>
      <th>Active status</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @implementation_statuses.each do |implementation_status| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', implementation_status, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_implementation_status_path(implementation_status), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', implementation_status, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= implementation_status.name %></td>
        <td><%= implementation_status.sort_order %></td>
        <td><%= implementation_status.active_status %></td>
        <td><%= implementation_status.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
