
<p>
  <strong>Cell or location:</strong>
  <%= @cilist.cell_or_location %>
</p>



<p>
  <strong>Benefit:</strong>
  <%= @cilist.benefit %>
</p>

<p>
  <strong>Current state:</strong>
  <%= @cilist.current_state %>
</p>

<p>
  <strong>Improvement suggestion:</strong>
  <%= @cilist.improvement_suggestion %>
</p>

<p>
  <strong>Implementation status:</strong>
  <%= @cilist.implementation_status %>
</p>


<p>
  <strong>User:</strong>
  <%= @cilist.user %>
</p>



<br>
<%= link_to 'Edit', edit_cilist_path(@cilist), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', cilists_path, class: "btn btn-default" %>
