
<p>
  <strong>Cell or location:</strong>
  <%= @cilist.cell_or_location %>
</p>



<p>
  <strong>Benefit:</strong>
  <%= @cilist.benefit %>
</p>

<p>
  <strong>Current state:</strong>
  <%= @cilist.current_state %>
</p>

<p>
  <strong>Improvement suggestion:</strong>
  <%= @cilist.improvement_suggestion %>
</p>

<p>
  <strong>Implementation status:</strong>
  <%= @cilist.implementation_status %>
</p>
<p>
  <strong>Points Awarded:</strong>
    <%= @cilist.points_awarded %>
</p>
<p>
  <strong>Contact:</strong>
    <%= @cilist.responsible %>
</p>

<p>
  <strong>Note_to_originator:</strong>
    <%= @cilist.note_to_originator %>
</p>


<p>
  <strong>User:</strong>
  <%= @cilist.user %>
</p>

<p>
  <strong>Created:</strong>
    <%= @cilist.created_at %>
</p>
<p>
  <strong>CI #:</strong>
    <%= @cilist.id %>
</p>


<br>
<%= link_to 'Edit', edit_cilist_path(@cilist), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', cilists_path, class: "btn btn-default" %>
