
<p>
  <strong>Item claimed:</strong>
  <%= @point.item_claimed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @point.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @point.user %>
</p>

<p>
  <strong>Points spent:</strong>
  <%= @point.points_spent %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @point.sort_order %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @point.active_status %>
</p>

<br>
<%= link_to 'Edit', edit_point_path(@point), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', points_path, class: "btn btn-default" %>
